<div class="col-md-9" ng-controller="dashController">
	<div class="col-md-12">
	<h4 class="col-md-4 ribbon-title">PROSTATE CANCER</h4>
		<div class="col-md-12 tab-container" style="margin-left:-20px">
			<ul class="tabs col-md-12">
				<li ng-click="showTab(1)" id="tab1" class="tab col-md-3"><a >Summary</a></li>	
				<li ng-click="showTab(2)" id="tab2" class="tab col-md-3"><a >Data <span class="badge badge-inverse">{{data1.length}}</span></a></li>	
				<li ng-click="showTab(3)" id="tab3" class="tab col-md-3"><a >Files <span class="badge badge-inverse">{{data1.length}}</span></a></li>	
			 </ul>
			 <div class="tab-content">
			 	<div ng-include="'partials/summary.html'" ng-show="selectedTab == 1"></div>
			 	<div ng-include="'partials/data.html'" ng-show="selectedTab == 2"></div>
			 	<div ng-include="'partials/files.html'" ng-show="selectedTab == 3"></div>
			 </div>
		  
		</div>
	</div>
</div>